.skills {
    background-color: #1B1B1B;
    border-radius: 20px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;/*set this amount to #skills*/
}

.skill {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skill_name {
    color: #68C0F1;
}

.dot_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dots {
    width: 1em; /* Adjust circle size as needed */
    height: 1em; /* Adjust circle size as needed */
    border-radius: 50%; /* Make it a circle */
}

.light_blue_dot {
    background-color: #68C0F1; /* Blue color */
}

.blue_dot {
    background-color: #126594;
}