.navbar {
    position: sticky;
    top: 0;
    background-color: #262626; /* Adjust styling as needed */
    z-index: 1000; /* Ensure the navbar stays on top of other content */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-template-rows: 1fr;

    
  }


.button {
  color: white;
}