.container {
    display: flex;
    align-items: center;
    background-color: #161616;
    border: 1px solid #262626;
    padding-left: .7em;
    padding-right: .7em;
    padding-top: .2em;
    padding-bottom: .2em;
    border-radius: 14px;
    height: 1.3em;
}

.text {
    color: #C0C0C0;
}

.circle {
    width: 1em; /* Adjust circle size as needed */
    height: 1em; /* Adjust circle size as needed */
    background-color: #68C0F1; /* Blue color */
    border-radius: 50%; /* Make it a circle */
  }