@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Apply font globally */
body {
    font-family: 'Inter';
}


.App-header {
  background-color: lightblue;
  min-height: 100vh;
}

.two_column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}