@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Apply font globally */
body {
    font-family: 'Inter';
}

.appheader {
  background-color: #161616;
  min-height: 100vh;
  padding: 20px;
}

.twocolumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.padding {
  padding: 20px;
}

.introsection {
  padding-top: 20px;
  padding-bottom: 20px;
}