.recentwork {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: #1B1B1B;
    border-radius: 20px;
    padding: 5%;
    border: 2px solid #262626;
}

#header {
    color: #C0C0C0;
    font-size: 2em;
}

.workexperience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2em;
    padding-bottom: .2em;
    padding-top: .9em;
}

.blue_title {
    color: #68C0F1;
}

.white_title {
    color: white;
}

.jobtitle {
    padding-bottom: .4em;
    font-weight: 500;
    font-size: 1em;
}

.date_company_color {
    color: #C0C0C0;
    font-size: .7em;
}

.company {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-size: .7em;
}

.circle {
    width: 1em; /* Adjust circle size as needed */
    height: 1em; /* Adjust circle size as needed */
    background-color: #C0C0C0; /* Blue color */
    border-radius: 50%; /* Make it a circle */
    margin-right: 1em;
}

.header_container {
    display: flex;
    align-items: center;
    padding-bottom: 10px; /* Add padding */
    box-sizing: border-box;
}

